:root{
    --bg-color:#FFFFFF;
    --primary-text-color:#272727;
    --accent-text-color:#211381;
    --white-text-color:#FFFFFF;
    --secondary-text-color:#747474;
    --btn-color: #FED305;
    --animation:  500ms cubic-bezier(0.4,0,0.2,1);
    --mg-size-sm: 576px;
    --mg-size-md: 768px;
    --mg-size-lg: 992px;
    --mg-size-xl: 1200px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "YandexSansDisplay";
  font-style: Light;
  font-weight: 300;
  font-display: swap;
  src: 
       url("/fonts/YandexSansDisplay-Light.woff2") format("woff2"),
       url("/fonts/YandexSansDisplay-Light.woff") format("woff"),
       url("/fonts/YandexSansDisplay-Light.ttf") format("ttf"),

}
@font-face {
  font-family: "YandexSansDisplay";
  font-style: Medium;
  font-weight: 500;
  font-display: swap;
  src: 
       url("/fonts/YandexSansText-Medium.woff2") format("woff2"),
       url("/fonts/YandexSansText-Medium.woff") format("woff"),
       url("/fonts/YandexSansText-Medium.ttf") format("ttf"),
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}
.header{
  backdrop-filter: blur(4px); 
}
.overlay{
  width: 100%;
  height: 100%;
  background-image: url('../images/mobile/hero/hero@1x.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px, 4px,24px,
rgba(0, 0, 0, 0.05));
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/mobile/hero/hero@2x.jpg');
  }
}
.burger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 10px;
    height: 18px;
    width: 32px;
    cursor: pointer;
    position: relative;
    transition: all var(--animation);
    z-index: 2;
}
.burger.is-open .burger__item{
    opacity: 0;
    transition: all var(--animation);
}
.burger.is-open::before{
    top: 7px;
    transform: rotate(45deg);
    background-color: rgb(73, 18, 223);
    transition: all var(--animation);
    z-index: 2;
}
.burger.is-open::after{
    bottom: 8px;
    transform: rotate(-45deg);
    background-color: rgb(73, 18, 223);
    transition: all var(--animation);
    z-index: 2;
}
.burger::before{
top: 0;
transition: all var(--animation);
}
.burger::after{
    bottom: 0;
    transition: all var(--animation);
}
.burger__item{
    background-color: var(--white-text-color);
    height: 2px;
    width: 100%;
    transition: all var(--animation);
}
.burger::before, .burger::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--white-text-color);
}
.top-wrapper{
position: fixed;
  bottom: 39px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}
.top-wrapper img {
  position: fixed;
  right: 30px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all var(--animation);
  scroll-behavior: smooth;
}
  .top-wrapper img {
    background: rgba(169, 212, 218, 0.288);
    box-shadow: 0 0px 10px rgb(15, 15, 15), 0 5px 20px rgb(201, 211, 62);
  }
  .top{
      width: 25px;
  height: 25px;
  scroll-behavior: smooth;
  }
  .top:hover{
      background-color: rgb(62, 114, 211);
  }
  .header-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
  }
  .logo{
      pointer-events: none;
      width: 105px;
      height: 17px;
  }
  .menu{
      display: none;
  }
  .menu-mob__list{
    display: none;
}
.menu-mob__list.is-open{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: var(--bg-color);
  opacity: 0.9;
  z-index: 1;
}
.menu-mob__link{
        font-family: YandexSansDisplay;
        font-weight: 500;
        color: rgb(73, 18, 223);
        font-size: 28px;
        display: block;
        text-align: center;
        transition: text-shadow var(--animation), transform var(--animation);
    }
.menu-mob__link:hover{
        transform: scale(1.1);
        text-shadow: 3px 3px 10px var(--accent-text-color), -3px -3px 10px var(--btn-color);
}
.menu-mob__item:not(:last-child){
    margin-bottom: 10px;
}
.hero{
  padding-top: 16px;
}
.hero__title{
  font-weight: 400;
  font-size: 32px;
line-height: 35px;
margin-right: auto;
  margin-left: auto;
text-align: center;
color: var(--white-text-color);
}
.hero__title--main{
width: 300px;
padding-bottom: 8px;
}
.hero__title--slogan{
  width: 300px;
  margin-bottom: 47px;
  color: var(--primary-text-color);
}
.hero__text{
  font-weight: 400;
  width: 285px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 550px;
  font-size: 14px;
line-height: 20px;
color: var(--white-text-color);
}
.btn{
display: inline-flex;
justify-content: center;
align-items: center;
outline: none;
border: none;
cursor: pointer;
background-color: var(--btn-color);
border-radius: 8px;
}
.btn__text{
  font-family: YandexSansDisplay;
  font-weight: 500;
  margin-right: 6px;
  font-size: 13px;
  color: var(--primary-text-color);
}
.btn__icon{
  width: 3px;
  height: 8px;
}
.btn--header{
  display: none;
}
.thumb{
  margin-bottom: 29px;
}
.img{
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
.about{
  padding-bottom: 40px;
}
.about__text{
font-weight: 400;
font-size: 24px;
line-height: 26px;
margin-bottom: 24px;
color: var(--primary-text-color);
}
.about__item{
  display: flex;
  justify-content: center;
  align-items: baseline;
font-size: 14px;
line-height: 20px;
}
.about__list{
  margin: 0 auto 16px;
}
.about__item:not(:last-child){
  margin-bottom: 8px;
}
.about__element{
  font-size: 14px;
line-height: 20px;
color: var(--primary-text-color);
}
.about__item::before{
  content: "";
  display: inline-block;
background-image: url(../images/icons/square.svg);
margin-right: 15px;
height: 9px;
width: 9px;
background-repeat: no-repeat;
background-size: contain;
}
.btn--about{
  width: 204px;
  height: 48px;
}
.block{
  display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.frame{
  width: 295px;
  height: 462px;
  padding: 34px;
  margin: 0 auto;
border-radius: 40px;
backdrop-filter: blur(12px) ;
/* drop-shadow(0px, 24px,40px */
/* rgba(59, 50, 135, 0.25)) */
background: radial-gradient(circle, rgba(23,23,94,1) 0%, rgba(94,58,144,1) 100%);
}
.title{
  font-weight: 700;
  font-size: 24px;
line-height: 26.4px;
}
.inside{
  padding-bottom: 40px;
}
.title--inside{
color: var(--white-text-color);
  margin-bottom: 20px;
}
.title--extras{
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.inside__text{
  font-size: 14px;
margin-bottom: 24px;
line-height: 1.96;
color: var(--white-text-color);
}
.inside__item{
  display: flex;
}
.inside__item::before{
  content: "";
  display: inline-block;
background-image: url(../images/icons/moon.svg);
margin-right: 16px;
height: 16px;
width: 16px;
background-repeat: no-repeat;
background-size: contain;
}
.inside__item:not(:last-child){
  margin-bottom: 18px;
}
.inside__info{
font-weight: 400;
  font-size: 12px;
  line-height: 1.54;
  color: var(--white-text-color);
}
.extras{
  padding-bottom: 40px;
}
.extras__item{
  font-size: 14px;
  line-height: 15px;
  color: var(--accent-text-color);
}
.extras__item--first{
margin-bottom: 16px;
}
.extras__item--second{
margin-bottom: 34px;
}
.extras__item--third{
  margin-bottom: 20px;
  color: var(--primary-text-color);
}
.extras__item--fourth{
  color: var(--primary-text-color);
}
.map{
  position: relative;
}
.map__iframe{
  height: 1283px;
}
.map__title{
  position: absolute;
  font-weight: 400;
  width: 295px;
  text-align: center;
  top: 87px;
  left: 10%;
  font-size: 32px;
  line-height: 35px;
  color: var(--primary-text-color);
}
@media (min-width:567px){
    .container{
        --container-width:var(--mg-size-sm);
    }
    .hero__text{
  width: 285px;
  margin-left: auto;
  margin-right: auto;
}
.overlay{
  width: 100%;
  height: 100%;
}
.about__list{
  margin-bottom: 10px;
}
.frame{
  width: 350px;
    padding: 46px;
}
.map__title{
  left: 25%;
}
}
@media (min-width:768px){
    .container{
        --container-width:var(--mg-size-md);
    }
    .logo{
      width: 180px;
      height: 50px;
  }
  .overlay{
  background-image: url('../images/tablet/hero/hero@1x.png');
  background-size: 100% 100%;
  
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/tablet/hero/hero@2x.png');
  }
}
.header{
  backdrop-filter: blur(12px);
}
.header-wrapper{
  padding: 14px;
}
.hero{
  padding-top: 40px;
}
.hero__text{
  width: 477px;
}
.hero__title--main{
padding-bottom: 12px;
}
.hero__title--slogan{
  width: 100%;
  margin-bottom: 85px;
}
.menu-mob__link{
  font-size: 35px;
}
.btn--header{
  display: inline-flex;
  width: 160px;
  height: 48px;
}
.img{
  width: 546px;
}
.about__text{
  text-align: center;
  margin-bottom: 24px;
}
.about__item:not(:last-child){
  margin-bottom: 24px;
}
.thumb{
  margin-bottom: 32px;
}
.about{
  padding-bottom: 104px;
}
.about__list{
  width: 440px;
  margin-bottom:12px;
}
.btn--about{
  margin-right: 240px;
}
.block{
  align-items: center;
}
.frame{
  display: flex;
  align-items: center;
  width: 100%;
  height: 372px;
  padding: 48px;
}
.rotate{
  display: flex;
}
.title--inside{
  margin-bottom: 30px;
}
.inside__text{
  width: 288px;
  margin-bottom: 40px;
}
.inside__list{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.rotate{
  display: flex;
    flex-wrap: wrap;
}
.wrap{
  display: flex;
  justify-content: space-around;
}
.title--extras{
  min-width: 165px;
  margin-right: 20px;
}
.map{
  height: 1560px;
}
.map__title {
    left: 33%;
}
}
@media (min-width:992px){
    .container{
        --container-width:var(--mg-size-lg);
    }
    .map__title {
    left: 36%;
    top: 76px;
}
.frame{
  height: 420px;
}
.inside__list{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 28px;
}

.inside__item:nth-of-type(1) { order: 1; }
      .inside__item:nth-of-type(2) { order: 2; }
      .inside__item:nth-of-type(3) { order: 4; }
      .inside__item:nth-of-type(4) { order: 6; }
      .inside__item:nth-of-type(5) { order: 5; }
      .inside__item:nth-of-type(6) { order: 3; }

}
@media (min-width:1200px){
    .container{
        --container-width:var(--mg-size-xl);
    }
    .frame{
  height: 685px;
}
.extras__item--first,
.extras__item--second,
.title--extras{
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 40px;
}
.extras__item--third,
.extras__item--fourth{
  font-size: 20px;
  line-height: 25px;
}
.extras__item--third{
  margin-bottom: 30px;
}
.title--extras{
  min-width: 350px;
}
.overlay{
  background-image: url('../images/desktop/hero/hero@1x.png');
  background-size: 100% 105%;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/desktop/hero/hero@2x.png');
  }
}
.hero__title--slogan{
      width: 364px;
      margin-bottom: 82px;
}
.menu-mob{
        display: none;
    }
    .burger{
        display: none;
    }
    .menu{
      display: block;
    }
    .menu__list{
        display: flex;
    }
    .menu__link{
      font-family: YandexSansDisplay;
      font-size: 13px;
      line-height: 100%;
      color: var(--white-text-color);
      transition: color var(--animation), transform var(--animation);
    }
    .menu__link:hover{
      color: var(--btn-color);
      transform: scale(1.01);
    }
.menu__item:not(:last-child){
  margin-right: 32px;
}
.btn{
  transition: 5s;

}
  .btn:hover{
background: linear-gradient(
90deg
,#a188fc,#2eeade 50%,#a188fc);
transition: 5s;
  } 
  .map__title {
    top: 97px;
    left: 36%;
} 
.map__title {
    left: 40%;
    top: 76px;
}
.title--inside {
  font-size: 40px;
  line-height: 44px;
    margin-bottom: 40px;
}
.inside__text{
  margin-bottom: 45px;
}
.inside__list{
    grid-template-rows: 105px;
    grid-gap: 30px;
}
.inside__info{
  font-size: 32px;
    line-height: 35px;
}
.inside__item::before {
  width: 32px;
  height: 32px;
}
  }
@media (min-width:1366px){
    .container{
        --container-width:var(--mg-size-xl);
    }
    .overlay{
      background-size: 100% 100%;
    }
  .about__text{
  text-align: left;
  margin-bottom: 25px;
}  
 .about__item:not(:last-child){
  margin-bottom: 25px;
} 
.about__list{
  margin-bottom:48px;
}  
.about{
  padding-bottom: 96px;
}
.frame{
  height: 540px;
}
.extras__item--first,
.extras__item--second,
.title--extras{
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 50px;
}
.extras__item--third,
.extras__item--fourth{
  font-size: 24px;
  line-height: 29px;
}
.extras__item--third{
  margin-bottom: 35px;
}
.title--extras{
  min-width: 340px;
}
}
/* ////////////////////// */
.slider__point {
    padding: 0 29px;
}

.slider__photo {
    justify-content: center;
    display: flex;
}

.slider__name {
    font-size: 15.42px;
    color: #747487;
    margin-top: 20px;
    margin-bottom: 17px;
    text-align: center;
}

.slider__text {
    font-size: 13px;
    color: #404048;
    text-align: center;
}
.slick-dots  li{
  border-radius: 50% !important;
  color: #000;
}
#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02{
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: block;
  background-image: url(../images/icons/slider.svg);
  background-repeat: no-repeat;
}
.slick-arrow{
  display: flex;
}

/* only slick style */
.slick-arrow {
    display: none;
}

.slick-prev, .slick-next {
    /* font-size: 25px;
    color: #404048;
    top: 60px;
    z-index: 2;
    transition: all 0.5s ease; */
    display: none !important;
}

.slick-prev {
    left: 30px;
}

.slick-prev:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

.slick-next {
    right: 30px;
}

.slick-next:before {
    display: none;
}

[dir='rtl'] .slick-next:before {
    display: none;
}

.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
    color: #404048;
    outline: none;
    background: none;
    opacity: none;
}

.slick-prev:hover {
    left: 27px;
}

.slick-next:hover {
    right: 27px;
}

/* ARROWS END /

/ DOTS */

/* .slick-dots {
    bottom: -25px;
    margin-right: 17px;
}

.slick-dots li button {
    width: 11px;
    height: 11px;
    padding: 5px;
    background-color: #bdc5d6;
}

.slick-dots li.slick-active button {
    background-color: #8b9ab7;
}

.slick-dots li button:hover {
    background-color: #8b9ab7;
}

.slick-dots li button:before {
    content: ' ';
    opacity: 1;
} */
